# App
NEXT_PUBLIC_APP_URL=https://verificadordtev2.cuscadev.com
APP_URL=https://verificadordtev2.cuscadev.com

# Backend Go en Render
GO_DTE_API_URL=https://verificador-api-dte.cuscadev.com
NEXT_PUBLIC_GO_DTE_API_URL=https://verificador-api-dte.cuscadev.com
GO_DTE_DEFAULT_CONCURRENCY=8

# Firebase cliente
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

# Firebase Admin servidor
# Usa FIREBASE_SERVICE_ACCOUNT_JSON o las 3 variables separadas.
FIREBASE_SERVICE_ACCOUNT_JSON=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Seguridad app
JWT_SECRET=
TOTP_ENCRYPTION_KEY=

# Supabase / Gmail
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=https://verificadordtev2.cuscadev.com/api/integrations/gmail/callback
GOOGLE_TOKEN_ENCRYPTION_KEY=

# Vercel Blob
BLOB_READ_WRITE_TOKEN=
